.loginContainer, .registerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    form {
        padding: 1rem;
        margin: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: url(src/images/abandon.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        width: 100%;
        max-width: 400px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5), -4px -4px 4px rgba(0, 0, 0, 0.5);

        h1 {
            text-align: center;
        }

        .input-field {  
            display: flex;
            flex-direction: column;
            margin: 10px 0 10px 0;
           

            label { 
                font-weight: bold;
                margin-bottom: 0.25rem;
            }
            input {
                width: 100%;
                padding: 0.5rem;
                font-size: 1rem;
                border-radius: 0.5rem;
                border: 0.2rem solid var(--dark-color);
            }

            #usernameValid, #passwordValid {
                .input-validation {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                }
            }
        }

        .image-field {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 100%;
            gap: 10px;

            img {
                height: 6rem;
                width: 6rem;
                border-radius: 20px;
                border: 2px solid var(--dark-color);
            }
        }

        .group-container {
            display: flex;
            flex-direction: column;
            margin: 10px 0 10px 0;
            text-align: start;
            width: 100%;
        }

        button {
            width: 100%;
            background-color: var(--dark-color);
            color: var(--light-color);
            border-radius: 0.5rem;
            padding: 0.5rem;
            margin-bottom: 0.5rem;
            font-size: 1rem;
            border: 0.2rem solid var(--dark-color);
            cursor: pointer;

            &:hover {
                transition: background-color 0.5s ease-in-out;
                background-color: var(--light-color);
                color: var(--dark-color);
            }
        }
    }
}

